# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class


# =========================
# Virtual Environment
# =========================

venv/
env/
.venv/


# =========================
# Django
# =========================

*.log
local_settings.py


# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example


# =========================
# IDE / Code Editors
# =========================

.vscode/
.idea/


# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db


# =========================
# Testing / Coverage
# =========================

.coverage
htmlcov/
.pytest_cache/


# =========================
# Build / Distribution
# =========================

*.egg-info/
dist/
build/


# =========================
# PostgreSQL / Database
# =========================

*.sql